#showA:checked ~ label span {
  color: #37474F !important;
}

#normalHeadMenu {
  background-color: #283593;
}

#normalHeadMenu .headerContentWrapper #fullWidthBar li a {
  color: white !important;
}

#showButtonA label span {
  color: white !important;
}
