#showA:checked ~ label span {
  color: #37474F !important;
}

#normalHeadMenu {
  background-color: #37474F;
  box-shadow: none;
}

#normalMenu {
  padding-top: 4px;
}

#normalHeadMenu .headerContentWrapper #fullWidthBar li {
  border: none;
  padding: 2px 15px 2px 15px !important;
}

#normalHeadMenu .headerContentWrapper #fullWidthBar li a {
  color: rgba(255, 255, 255, 0.9) !important;
  transition: color 0.2s linear;
}

#normalHeadMenu .headerContentWrapper #fullWidthBar li a:hover {
  color: #FDD835 !important;
}

#showButtonA label span {
  color: rgba(255, 255, 255, 0.9) !important;
}

#normalHeadMenu .headerContentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.filler {
  flex-grow: 2;
}

#normalLinear {
  left: 0;
}
