body {
    background-color: #37474F
;
    color: #CFD8DC;
}

hr {
    border: 1px solid #B0BEC5;
}
a, a:visited, h1, h2, h3, h6 {
    color: #CFD8DC;
    text-align: center;
}

.productLogo {
    position: absolute;
    left: calc(50% - 100px);
}

#logoBack { z-index: 10; }
#logoCube { z-index: 20; }
#logoFront { z-index: 30; }

@keyframes floatingCube {
    from {
        -ms-transform: translateY(-5px); /* IE 9 */
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        opacity: 1;
    }
    to {
        -ms-transform: translateY(-20px); /* IE 9 */
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0.8;
    }
}

#logoCube {
    animation: floatingCube 3s ease-in-out infinite alternate;
}

.screenshot {
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
}

iframe.screenshot {
    max-height: none;
    max-width: none;
}

#productLogoWrapper {
    width: 100%;
    height: 250px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: -40px;
}

.screenshotWrapper {
    width: 100%;
    text-align: center;
}

#logoTitle {
    font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
}

#logoSubTitle {
    font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 0.95em;
    letter-spacing: 3px;
    word-spacing: 1px;
    margin: 0 0 50px 0;
    padding: 0;
}

#logosWrapper {
    margin: 0 0 80px 0;
    width: 100%;
    text-align: center;
}

.subTitle {
    font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 0.95em;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin: 0 0 20px 0;
    padding: 0;
}

.orgLogo {
    height: 30px;
    display: inline-block;
    margin: 0 10px;
}

.orgLogo#ucle {
    height: 26px;
    padding: 2px 5px;
    background-color: #546E7A;
}

.orgLogo#uclcs {
    height: 30px;
    padding: 0;
    background-color: #546E7A;
}

.orgLogo#ucl {
    height: 30px;
    padding: 0;
    background-color: white;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.productDescriptor {
    padding: 60px 0;
    width: 100%;
    text-align: center;
}

.productTitle {
    font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.productText {
    font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: center;
}

.videoWrapper {
    position: relative;
	padding-bottom: 0;
    margin: 0;
	padding-top: 56.25%;
    width: 100%;
	height: 0;
	overflow: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.videoWrapper iframe, .videoWrapper object, .videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%
}