<div id="showButtonA">

    <div id="topBar"></div>

    <input type="checkbox" id="showA" role="button">
    <label for="showA">
        <span>&#9660; Menu</span>
    </label>
    <div id="cover"></div>

    <div id="menuList">
        <ul id="menuA" class="menuBar">
            <li><a class="menuItem" href="{{ site.baseurl }}/">Home</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/background.html">Background</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/requirements.html">Requirements</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/development.html">Development</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/testing.html">Testing</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/meta.html">Meta</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/">Willow</a></li>
            <li><a href="https://github.com/SeldonIO/seldon-ucl"><img id="github" src="{{ site.baseurl }}/assets/github-mark.png"></a></li>
        </ul>
    </div>

</div>
