<footer class="site-footer">
    
    <hr class="full">
    
    <div class="footer">
        <a href="http://ucl.ac.uk"><img id="ucl" src="{{ site.baseurl }}/assets/UCL-logo.png"></a>
        <a href="http://seldon.io"><img id="ucl" src="{{ site.baseurl }}/assets/seldon-logo.png"></a>
        <a href="https://github.com/SeldonIO/seldon-ucl"><img id="seldon" src="{{ site.baseurl }}/assets/github-mark.png"></a>
        <p>ETL for Data Science. Systems Engineering Project Group 19. <a href="{{site.baseurl}}/sitemap.html">Sitemap</a>
            <br>Copyright &copy; 2015-2016 Gordon Cheng, Shivam Dhall, Bandi Enkh-Amgalan. All rights reserved.</p>
    </div>

</footer>
