<style>
    #normalHeadMenu .headerContentWrapper #fullWidthBar li {
        border: none;
        padding: 2px 15px 2px 15px !important;
    }
    #normalMenu {
        padding-top: 4px;
    }
    #normalHeadMenu .headerContentWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .filler {
        flex-grow: 2;
    }
    #normalLinear {
        left: 0;
    }
</style>

<header class="site-header">

        <div id="normalHeadMenu" class="headMenu">

            {% include fixed-menu.html %}

            <div class="headerContentWrapper">

                <div id="smallLogo" class="linearMenu">
                    <a href="{{ site.baseurl }}/project-home.html"><img id="logo" src="{{ site.baseurl }}/assets/logo.png"></a>
                </div>

                <div class="filler"></div>

                <div id="normalLinear" class="linearMenu">
                    <div id="normalMenu" class="barWrapper">

        <ul id="fullWidthBar" class="menuBar">
            <li><a class="menuItem" href="{{ site.baseurl }}/background.html">Background</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/requirements.html">Requirements</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/development.html">Development</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/testing.html">Testing</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/meta.html">Meta</a></li>
            <li class="sister"><a class="menuItem" href="{{ site.baseurl }}/">Willow</a></li>
            <li><a href="https://github.com/SeldonIO/seldon-ucl"><img id="github-tweaked" src="{{ site.baseurl }}/assets/github-mark.png"></a></li>
        </ul>

    </div>

                </div>

            </div>

        </div>

</header>
