<header class="site-header">
        
        <div id="homeHead" class="homeHeader">
            
            <div class="headerContentWrapper">
                
                <div class="linearMenu">
                    <a href="{{ site.baseurl }}/"><img id="logoBig" src="{{ site.baseurl }}/assets/logo-outline.png"></a>
                </div>
                
                <div class="linearMenu">

                    <a class="siteTitle" href="{{ site.baseurl }}/">ETL for Data Science</a>
                    <p class="siteSubTitle">Systems Engineering Project Group 19</p>

                </div>
            
            </div>
            
        </div>

</header>
