<div class="barWrapper">

        <ul id="fullWidthBar" class="menuBar">
            <li><a class="menuItem" href="{{ site.baseurl }}/background.html">Background</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/requirements.html">Requirements</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/research.html">Research</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/404.html">Prototypes</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/404.html">Testing</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/misc.html">Misc</a></li>
        </ul>

    </div>
    
    <div id="showButton">

        <label for="show">
            <span>&#9660;</span>
        </label>
        <input type="checkbox" id="show" role="Button">

        <ul id="menu" class="menuBar">
            <li><a class="menuItem" href="{{ site.baseurl }}/">Home</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/background.html">Background</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/requirements.html">Requirements</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/research.html">Research</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/404.html">Prototypes</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/404.html">Testing</a></li>
            <li><a class="menuItem" href="{{ site.baseurl }}/misc.html">Misc</a></li>
        </ul>
                
    </div>