<div id="showButtonA">

  <div id="topBar"></div>

  <input type="checkbox" id="showA" role="Button">
  <label for="showA">
    <span>&#9660; Menu</span>
  </label>
  <div id="cover"></div>

  <div id="menuList">
    <ul id="menuA" class="menuBar">
      <li><a class="menuItem" href="{{ site.baseurl }}/">Home</a></li>
      <li><a class="menuItem" href="{{ site.baseurl }}/download.html">Downloads</a></li>
      <li><a class="menuItem" href="{{ site.baseurl }}/user-docs.html">Docs</a></li>
      <li><a class="menuItem" href="{{ site.baseurl }}/project-home.html">Project</a></li>
      <li>
        <a href="https://github.com/SeldonIO/seldon-ucl"><img id="github" src="{{ site.baseurl }}/assets/github-mark.png"></a>
      </li>
    </ul>
  </div>

</div>