<!DOCTYPE html>
<html>

{% include head.html override="true" override-src="/css/product-docs.css" override-inner="true" override-inner-src="/css/product-header.css" %}

<body>

  {% include product-header.html %}

  <div class="page-content">
    <div class="wrapper">
      <div id="normalContent" class="content">
        <div id="docsMenuSpace">
          <div id="docsMenu">
            <h2 style="margin-top: 10px">Docs (v0.2)</h2>
            <a href="#install"><h4>Installing and Running Tungsten</h4></a>
            <a href="#load"><h4>Data uploading and downloading</h4></a>
            <a href="#view"><h4>Data viewing</h4></a>
            <a href="#clean"><h4>Data cleaning and transformation</h4></a>
            <h4>Data analysis</h4>
            <h4>Data visualisation</h4>
            <h4>Example workflows</h4>
          </div>
        </div>
        <div id="docsContent">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

</body>

</html>